@import 'print';
@import 'mfb';

.main-content{
    margin-top: 50px;
}
.tile-content {
    float:left;
    width: 130px;
    height: 130px;
    text-align: center;
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
    overflow: hidden;

    img {
        text-align: center;
        width: 120px;
    }
}
.tile-title{
    white-space: nowrap;
    overflow: hidden;
    width: 120px;
    text-overflow:clip;
}
.tile-tooltip {

    margin: 10px;
    position:absolute;
}
.group-list {
    padding: 5px;
    margin: 5px;
}
.navbar {
    margin-bottom: 0px;
}
.ModalBackdrop {
    box-sizing: content-box;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: auto;
    z-index: 9999;
}
.ModalBackdrop.hidden {
    display: none;
}
.ModalContent {
    //    box-sizing: content-box;
    position: absolute;
    //    width: 90%;
    //    height:90%;
    margin:20px;
    padding: 22.5px 30px;
    background-color: white;
    border-radius: 4px;
}

.modal-body{
    position:relative;
    background-color: white;
    height:100%;
    width: 100%;
}

.center-text {
    text-align:center;
}
.document-list{
    margin:20px;
}
.tangle-text{
    color:darkblue;
    border-bottom: 1px dashed black !important;
}
.pie {
    position: relative;

    & text {
        font-size: 10px;
        cursor: pointer;
        pointer-events: none;
    }

    & path {
        cursor: pointer;
    }

    //    & path:hover {
    //        opacity: 0.8;
    //    }
}

.legend {
    border: 1px solid #cccccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #eeeeee;
    padding: 10px;
    position: absolute;

    &.topRight {
        right: 0;
        top:0;
    }
    &.topLeft {
        left: 0;
        top:0;
    }
    &.bottomLeft {
        left: 0;
        bottom:0;
    }
    &.bottomRight {
        right: 0;
        bottom:0;
    }
}

