.printView{
    background-color: lighten(gray,10);
    padding: 20px;
}
 div.errorFlag {
    &:before {
        display: inline-block;
        opacity: 0.25;
        font-size: 3em;
        color:red;
        width: 100%;
        text-align: right;
        z-index: 1000;
        content: 'uncompleted';
        -webkit-transform: rotate(45deg);
    }

}
.cBox{
    position: absolute;
}

@media print {
    body * {
        visibility: hidden;
    }
    #section-to-print, #section-to-print * {
        visibility: visible;
    }
    #section-to-print {
        position: absolute;
        left: 0;
        top: 0;
    }
}
